# Diese Datei spezifiziert die Dateien und Unterordner, die NICHT
# in die Versionsverwaltung aufgenommen werden sollen (v.a., weil
# sie von Android Studio selbst erzeugt werden können).

local.properties

.idea/
.gradle/

app/build

